@CHARSET "UTF-8";
#p_search {
	-fx-background-image: url("images/search.png");
	-fx-background-position: center center; 
	-fx-background-repeat: no-repeat;
}
#btn_search {
	-fx-graphic: url("images/btn_gold.png");
	-fx-background-color: rgba(0,0,0,0);
	/* -fx-font: bold 12 simsun; */
	-fx-font: bold 16 simsun;
	/*-fx-text-fill: #555555; */
}
#btn_clear {
	-fx-graphic: url("images/btn_gold.png");
	-fx-background-color: rgba(0,0,0,0);
	/* -fx-font: bold 12 simsun; */
	-fx-font: bold 16 simsun;
	/*-fx-text-fill: #555555; */
}